/* CSS ROJO */

#barrasup{
    -fx-background-color: #d89898;
    -fx-border-color: #fedbdb;
    -fx-border-width: 1px;
    -fx-text-color: black;
}
#scenatot{
    -fx-background-color: #fedbdb;
    -fx-border-color: #d89898;
    -fx-border-width: 2px;
}
#iconoid-imageview {
    -fx-background-color: red;
    -fx-border:#bb4747;
}

.button {
    -fx-background-color: #d89898;
    -fx-text-color: black;
}

.list-view {
    -fx-background-color: #bb4747;
}

.table-view {
    -fx-background-color: #d89898;
    -fx-text-color: red;
}

.text {
    -fx-fill: black;
}

.label {
    -fx-text-color: black;
}

.text-field {
     -fx-text-color: black;
}

